@charset "UTF-8";
/* 共通部分*/
html {
	font-size: 100%;
}
body {
	font-family: "Hiragino kaku Gothic ProN","Hiragino sans","BIZ UDPGoshic", sans-serif;
	line-height: 1.7;
	color: #2B5F75;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
/* レイアウト */
.wrapper {
	max-width: 1120px;
	margin: auto;
	padding: 0 1.5rem;
}
.align-center {
	text-align: center;
}
.cover {
	background-size: cover;
	background-position: center bottom;
	height: 800px;
}
.cover-home {
	background-image: url(../images/image1.jpg);
}
.about {
	max-width: 736px;
	padding: 0 1.5rem;
	margin: 3rem auto 0;
}
.about p {
	margin-bottom: 3rem;
}

/* プロフィール */
.plo {
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}

/* 経歴 */
.history {
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}

/* スキル */
.sk {
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}

/* URL */
.URL {
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}

/* 見出し */
.font-english {
	font-family: 'Philosopher', sans-serif;
	font-weight: normal;
}
.page-title, 
.heading-large{
	font-size: 3rem;
	text-align: center;
}
.page-title {
	margin-top: 2rem;
	line-height: 1.4;
}
.heading-large{
	margin-bottom: 1rem;
}

/* ヘッダー*/
.page-header {
	padding-top: .5rem;
}
.logo {
	width: 210px;
}
.main-nav {
	display: flex;
	justify-content: center;
	gap: 2.5rem;
	font-size: 1.5rem;
	list-style: none;
}
.main-nav a {
	color: #432;
}
.main-nav a:hover {
	color: #0bd;
}

/* フッター*/
.page-footer {
	background-image: url(../images/footer-s.webp);
	padding-top: 12rem;
}
.info {
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}
.info th {
	padding-left: 2.5rem;
}
.copyright {
	background-color: #432;
	text-align: center;
	padding: 2rem 0;
	margin-top: 6rem;
	color: #fff;
}
/* デスクトップ版*/
@media (min-width: 800px) {

    /* 見出し */
.page-title {
	font-size: 5rem;
}
.heading-large {
	font-size: 4rem;
}
    /* ヘッダー */
.page-header {
	display: flex;
	justify-content: space-between;
	padding-top: 1.5rem;
}
.main-nav {
	font-size: 2rem;
}